---
import Layout from "../../layouts/Layout.astro";

const response = await fetch("https://qn.sukoshi.xyz/project-p/livePhoto.json");
const data = await response.json();
const photos = data || [];
---

<Layout>
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
    {
      photos.map((photo: Photo) => (
        <figure>
          <div
            style={{
              "aspect-ratio": `${photo.info?.width} / ${photo.info?.height}`,
              "background-color": photo.color,
              "background-image": `url(${photo.src}-tiny.bmp)`,
            }}
            class="rounded bg-no-repeat bg-cover bg-center overflow-hidden"
          >
            <div
              class="size-full"
              data-live-photo
              data-photo-src={photo.src}
              data-video-src={photo.live_video}
              data-proactively-loads-video="true">
            </div>
          </div>
        </figure>
      ))
    }
  </div>
</Layout>

<script is:inline src="https://cdn.apple-livephotoskit.com/lpk/1/livephotoskit.js"></script>
