---
import Layout from "../../layouts/Layout.astro";
import Preview from "../../components/Preview.astro";

// const response = await fetch("https://qn.sukoshi.xyz/project-p/albums.json");
const response = await fetch(new URL("/albums.json", Astro.url));
const data = await response.json();
const photos = data || [];

const stickyPhotos: Photo[] = [];
const otherPhotos: Photo[] = [];

photos.forEach((photo: any) => {
  if (photo.is_sticky) {
    stickyPhotos.push(photo);
  } else {
    otherPhotos.push(photo);
  }
});
---

<Layout>
  <div class="py-8 px-12 rounded bg-stone-800/5 dark:bg-stone-100/5">
    <div class="py-8">
      <h1 class="text-5xl tracking-tight text-pretty font-bold text-zinc-800 dark:text-zinc-200">Latest</h1>
      <p class="mt-4 text-lg font-medium text-zinc-500 dark:text-zinc-300">
        Update the latest photography works every week.
      </p>
    </div>
    
    <section class="mb-12">
      <h3 class="font-bold text-2xl pb-6 dark:text-zinc-200">Recent selections</h3>
      <div class="overflow-hidden">
        <ul class="scroll-x-grid">
          {
            stickyPhotos.map((album) => (
              <li class="shrink-0 flex-1 snap-start snap-always">
                <a href="#">
                  <h4 class="font-bold dark:text-zinc-200 mb-2">{album.name}</h4>
                  <div class="bg-amber-200 aspect-video rounded overflow-hidden">
                    <img
                      class="block w-full h-full object-cover"
                      src={album.src}
                      alt={album.name}
                    />
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section>
      <h3 class="font-bold text-2xl pb-6 dark:text-zinc-200">Recent updates</h3>
      <div class="overflow-x-auto">
        <ul class="flex flex-wrap gap-6">
          {
            otherPhotos.map((album) => (
              <li class="grow h-[320px]">
                <a href="#" title={album.name}>
                  <div class="rounded-md overflow-hidden">
                    <img
                      class="block h-[320px] w-full object-cover"
                      src={album.src}
                      alt={album.name}
                    />
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </div>

  <Preview photos={photos} />
</Layout>
