---
import Layout from "../../layouts/Layout.astro";
import ScrollPreview from "../../components/ScrollPreview.tsx";

const response = await fetch("https://qn.sukoshi.xyz/project-p/albums.json");
const data = await response.json();
const photos = data || [];

const stickyPhotos: Photo[] = [];
const otherPhotos: Photo[] = [];

photos.forEach((photo: any) => {
  if (photo.is_sticky) {
    stickyPhotos.push(photo);
  } else {
    otherPhotos.push(photo);
  }
});
---

<Layout>
  <div class="py-8 px-12 rounded bg-stone-800/5 dark:bg-stone-100/5">
    <div class="py-8">
      <h1 class="text-5xl tracking-tight text-pretty font-bold text-zinc-800 dark:text-zinc-200">Latest</h1>
      <p class="mt-4 text-lg font-medium text-zinc-500 dark:text-zinc-300">
        Update the latest photography works every week.
      </p>
    </div>
    
    <section class="mb-12">
      <h3 class="font-bold text-2xl pb-6 dark:text-zinc-200">Recent selections</h3>
      <div class="overflow-hidden">
        <ul class="scroll-x-grid sticky-list">
          {
            stickyPhotos.map((photo, index) => (
              <li class="shrink-0 flex-1 snap-start snap-always">
                <div
                  class="sticky-item cursor-pointer"
                  title={photo.name}
                  data-src={`${photo.src}-default.webp`}
                  data-clip={`${photo.src}-r30.webp`}
                  data-color={photo.color}
                  data-index={index}
                >
                  <h4 class="font-bold dark:text-zinc-200 mb-2">{photo.name}</h4>
                  <div 
                    style={{ backgroundColor: photo.color }}
                    class="aspect-video rounded overflow-hidden"
                  >
                    <picture class="rounded-md overflow-hidden">
                      <source media="(min-width: 2100px)" srcset={`${photo.src}-r80.webp`} />
                      <source media="(min-width: 1280px)" srcset={`${photo.src}-r50.webp`} />
                      <img
                        class="block w-full h-full object-cover"
                        src={`${photo.src}-r30.webp`}
                        alt={photo.name}
                      />
                    </picture>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section>
      <h3 class="font-bold text-2xl pb-6 dark:text-zinc-200">Recent updates</h3>
      <div class="overflow-x-auto">
        <ul class="photo-list flex flex-wrap gap-6">
          {
            otherPhotos.map((photo, index) => (
              <li class="grow h-[320px]">
                <div
                  style={{ backgroundColor: photo.color }}
                  class="photo-item cursor-pointer rounded-md overflow-hidden"
                  title={photo.name}
                  data-src={`${photo.src}-default.webp`}
                  data-clip={`${photo.src}-r30.webp`}
                  data-color={photo.color}
                  data-index={index}
                >
                  <picture>
                    <source media="(min-width: 2100px)" srcset={`${photo.src}-r80.webp`} />
                    <source media="(min-width: 1200px)" srcset={`${photo.src}-r50.webp`} />
                    <img
                      class="block h-[320px] w-full object-cover"
                      src={`${photo.src}-r30.webp`}
                      alt={photo.name}
                      loading="lazy"
                    />
                  </picture>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </div>

  <ScrollPreview client:only="solid" wrapper="sticky-list" item="sticky-item" photos={stickyPhotos} />
  <ScrollPreview client:only="solid" wrapper="photo-list" item="photo-item" photos={otherPhotos} />
</Layout>
